<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<form name="pokemonForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input name="name" class="form-control" data-ng-model="vm.newPokemon.name" type="text" placeholder="Имя"
               required ng-minlength="3">
        <div ng-messages="pokemonForm.name.$error" ng-if="pokemonForm.name.$touched">
                <div ng-message="required" class="error">
                    Вы забыли ввести имя покемона
                </div>
                <div ng-message="minlength" class="error">
                    Имя должно быть не короче 3-х символов
                </div>
        </div>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input name="weight" class="form-control" data-ng-model="vm.newPokemon.weight" type="text" placeholder="Вес"
               data-ng-pattern="/^(\d)+$/" required>

        <div ng-messages="pokemonForm.weight.$error" ng-if="pokemonForm.weight.$touched">
            <div ng-message="required" class="error">
                Вы забыли вес покемона
            </div>
            <div ng-message="pattern" class="error">
                Вес должен быть целым числом
            </div>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Активен
        </label>
    </div>
    <button type="submit" class="btn btn-default" data-ng-click="vm.addPokemon(vm.newPokemon)"
            data-ng-disabled="pokemonForm.$invalid">Добавить
    </button>
</form>
